name: hoppscotch

networks:
  hoppscotch-network:
    name: hoppscotch-network

volumes:
  hoppscotch-data:
    name: hoppscotch-data
  hoppscotch-cloud:
    name: hoppscotch-cloud
  hoppscotch-nginx:
    name: hoppscotch-nginx

services:
  cloudflared:
    image: cloudflare/cloudflared
    container_name: hoppscotch-cloudflared
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    volumes:
      - hoppscotch-cloud:/etc/cloudflared
    networks:
      - hoppscotch-network
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  nginx-init:
    image: alpine
    container_name: hoppscotch-nginx-init
    volumes:
      - ./hoppscotch.conf:/tmp/hoppscotch.conf:ro
      - hoppscotch-nginx:/etc/nginx/conf.d
    networks:
      - hoppscotch-network
    command: ["sh", "-c", "cp /tmp/hoppscotch.conf /etc/nginx/conf.d/hoppscotch.conf && chmod 644 /etc/nginx/conf.d/hoppscotch.conf"]
    restart: "no"
    profiles: ["nginx-init"]

  nginx:
    image: nginx
    container_name: hoppscotch-nginx
    volumes:
      - hoppscotch-nginx:/etc/nginx/conf.d
    networks:
      - hoppscotch-network
    restart: unless-stopped

  database:
    image: postgres:17
    container_name: hoppscotch-database
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - hoppscotch-data:/var/lib/postgresql/data
    networks:
      - hoppscotch-network
    restart: unless-stopped

  migrate:
    image: hoppscotch/hoppscotch-backend
    container_name: hoppscotch-migrate
    env_file:
      - .env
    networks:
      - hoppscotch-network
    entrypoint: [ "sh", "-c", "pnpm dlx prisma@6 migrate deploy" ]
    restart: "no"
    depends_on:
      - database
    profiles: ["migrate"]

  backend:
    image: hoppscotch/hoppscotch-backend
    container_name: hoppscotch-backend
    env_file:
      - .env
    networks:
      - hoppscotch-network
    restart: unless-stopped

  frontend:
    image: hoppscotch/hoppscotch-frontend
    container_name: hoppscotch-frontend
    env_file:
      - .env
    networks:
      - hoppscotch-network
    restart: unless-stopped

  admin:
    image: hoppscotch/hoppscotch-admin
    container_name: hoppscotch-admin
    env_file:
      - .env
    networks:
      - hoppscotch-network
    restart: unless-stopped
